body{
    background-color: rgb(172, 216, 252);
}
nav{
    position: fixed;
    background-color: rgb(223, 150, 150);
   font-size: 40PX;
   display: inline;
   margin-top: 0px;
   width: max-content;
   height: max-content;
   border: 4px solid red;
   border-radius: 30px;
   opacity: 0.3;
   }
#situation,#def,#quand,#comment,#Pourquoi,#plus{
    size: 60 px;
    text-align: center;
    border-radius:30px;
    font-size: larger;

    
}
center{
    border: 4px solid black;
    border-radius: 30px;
    padding: 0px;
    height: 100px;
    height: 200px;
    font-size: 30px;
}
em{
    color: red;
}
video{
    text-align: center;
    width: 600px;
    height: 400px;
    border: 4px solid black;
}
em{
    color: red;
    font-variant: small-caps;
}
a{
    font-variant: small-caps;
}
image{
    width: 500px;
    height: 600px;
}
h1{
    font-size: x-large;
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 40px;
    line-height: 3px;
}
table{
    border: 5px solid black;
}
#comment{
    border: 4px solid black;
    border-radius: 50px;    
}
p{
    font-size: 90px;
    border: 5px solid red;
    background: white;
    color: brown;
    border-radius: 200px;
}
article{
    font-size: 36px;
    font-variant: small-caps;
}
img{
    width: 700px;
    height: 700px;
    margin-top: 30px;
    border: 4px solid black;
    border-radius: 30px;
}